.31_162 { 
	overflow:hidden;
}.e31_162 { 
	background-color:rgba(217.8125050663948, 213.0932343006134, 208.73698085546494, 1);
	width:1440px;
	height:1976px;
	position:absolute;
}.e31_170 { 
	width:401px;
	height:17px;
	position:absolute;
	left:707px;
	top:612px;
}.e31_183 { 
	width:481px;
	height:482px;
	position:absolute;
	left:163px;
	top:482px;
	background-image:url(images/5f60bff204e1a4e7b1fe7824b1c27e9f_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e31_172 { 
	width:484px;
	height:482px;
	position:absolute;
	left:160px;
	top:1012px;
	background-image:url(images/3367754fb88ccd0f9143e2c59f02e962_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e31_179 { 
	width:484px;
	height:1012px;
	position:absolute;
	left:770px;
	top:482px;
	background-image:url(images/da2286d91c3d6b933c355f172c77919f_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e31_182 { 
	width:484px;
	height:482px;
	position:absolute;
	left:160px;
	top:1012px;
}.e31_180 { 
	width:484px;
	height:482px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/1839466949056d8eba5b74ba2553d682_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e31_181 { 
	background-color:rgba(255, 255, 255, 1);
	width:292px;
	height:95px;
	position:absolute;
	left:106px;
	top:0px;
}.e40_2713 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:284px;
	height:284px;
	position:absolute;
	left:42px;
	top:119px;
}.e40_2714 { 
	background-color:rgba(255, 255, 255, 1);
	width:1376px;
	height:87px;
	position:absolute;
	left:64px;
	top:218px;
}.e40_2715 { 
	border-radius:500px;
	background-color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:243px;
	height:243px;
	position:absolute;
	left:63px;
	top:140px;
}.e40_2716 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:225px;
	height:225px;
	position:absolute;
	left:72px;
	top:149px;
}.e40_2717 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:154px;
	height:49px;
	position:absolute;
	left:941px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2718 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:164px;
	height:49px;
	position:absolute;
	left:1159px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2719 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:117px;
	height:49px;
	position:absolute;
	left:738px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2720 { 
	color:rgba(182.00000435113907, 163.00000548362732, 148.000006377697, 1);
	width:277px;
	height:121px;
	position:absolute;
	left:340px;
	top:203px;
	font-family:Sen;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}.e40_2721 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:154px;
	height:49px;
	position:absolute;
	left:941px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2722 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:164px;
	height:49px;
	position:absolute;
	left:1159px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}